.App {
  background: #b84747;
  width: 650px;
  height: 570px;
  margin: 50px auto;
  position: relative;
  outline: 7px solid #7a0000;
}

.App .appTitle {
  background: #d26a6a;
  height: 55px;
}

.App .appTitle h1 {
  text-align: center;
  color: white;
  padding: 10px 0 0 150px;
}

.App .appBtn {
  float: right;
}

.App .apiSite {
  position: absolute;
  bottom: 10px;
  left: 42%;
  color: white;
}

.App .apiSite a {
  color: white;
}
