.Imageview .box {
  background: #f1f8e7;
  width: 220px;
  height: 190px;
  position: absolute;
  top: 70px;
  left: 170px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Imageview .boxCover {
  z-index: 1;
  display: none;
}

.Imageview .boxCover h3 {
  color: black;
  padding: 0 0 0 10px;
  animation: changeColor 2s infinite;
}
@keyframes changeColor {
  50% {
    padding: 0 10px 0 0;
  }
}
