.Search {
  background: #c85b5b;
  width: 150px;
  height: 570px;
  position: absolute;
  top: 0;
  left: 0;
}

.Search ul {
  height: 540px;
  list-style: none;
  overflow-y: scroll;
}

.Search ::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
}

.Search ::-webkit-scrollbar-track {
  background: #a02626;
}

.Search ::-webkit-scrollbar-thumb {
  background: #f1bfbf;
}

.Search input[type=text] {
  width: 150px;
  height: 30px;
  text-align: center;
  border: none;
}

.Search ul li {
  padding: 1px 0 1px 5px;
  cursor: pointer;
}
.Search ul li:hover {
  background: white;
}

.Search .loadDiv {
  position: absolute;
  width: 650px;
  height: 570px;
  background: #c85b5b;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: 1s all;
}

.Search .loadDiv h2 {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.Search .loadDiv p {
  color: white;
  text-align: center;
}

.Search .loadDiv a {
  color: white;
  text-align: center;
}
